---
  layout: default
  title: alex pszczolkowski personal website & blog
  comments: true
---

<section class="row">
    <div class="col-md-10 col-md-offset-2">
        <h1>Alex Pszczolkowski</h1>
        <p class="small"><em>(alex shoe'll cow ski)</em></p>
        <br/>
        <p>
        Hi, I'm Alex,
        </p>
        <p>
            I hack on software, consult and run a small, remote dev studio <a href="http://sailsoftware.co">Sail Software CO</a>.<br/>
            You can follow me on twitter under <a href="http://twitter.com/apsz">@apsz</a>
            and check some of my stuff on <a href="http://github.com/alexp">github</a>.
        </p>
        <p>
            My main tools of the trade include:
            <a href="http://rubyonrails.org/">Ruby On Rails</a>, 
            <a href="http://www.oracle.com/technetwork/java/index.html">Java</a>, 
            <a href="http://grails.org/">Grails</a>, 
            <a href="https://en.wikipedia.org/wiki/JavaScript/">Javascript</a>,
            <a href="https://en.wikipedia.org/wiki/CSS/">CSS</a>
            and 
            <a href="http://en.wikipedia.org/wiki/HTML5">HTML</a>.
            <br/>
            For a full, professional summary, please visit my <a href="https://www.linkedin.com/in/alexpszczolkowski">LinkedIn</a> profile.<br/>
            <!-- You can also read my full story <a href="about.html">here</a> and/or download my <a href="">pdf resume</a>.<br/> -->
            <br/>
            Oh! I also write about travel and all untechy things at <a href="http://airseasummit.com">airseasummit.com</a><br/>
            Instagram: <a href="https://instagram.com/airseasummit">@airseasummit</a><br/>
            Currently I'm in London, UK.
        </p>

        <p>
          <h2>Links</h2>
          <ul>
            <li>Forbes writeup: <a href="http://www.forbes.com/sites/forbesleadershipforum/2015/12/22/globetrotting-digital-nomads-the-future-of-work-or-too-good-to-be-true/">Globetrotting Digital Nomads: The Future Of Work Or Too Good To Be True?</a></li>
            <li>Hacker news discussion on 'digital nomadism': <a href="https://news.ycombinator.com/item?id=6388820">How I thought I wanted to become a digital nomad</a></li>
          </ul>
        </p>

        <hr />

        <p>
            {% if site.posts.size > 0 %}
            Here's a list of my blog posts:
            <ul>
                {% for post in site.posts %}
                <li>
                    {{ post.date | date_to_string }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </p>

        <p>
            <h1 class="give-space">Projects</h1>
            <ul>
                <li><a href="teatrdlawas.html">teatrdlawas.pl</a> - large theatre centered news and information portal</li>
                <li><a href="ipko.html">iPKO</a> - custom software and consulting</li>
                <li><a href="wayfinder.html">wayfinder</a> - route finding system for shopping centers and alike</li>
                <li><a href="superpaczka.html">superpaczka.pl</a> - courier broker startup</li>
                <li><a href="zenblogs.html">zenblogs.co</a> - dockerized hosting for ghost blog platform</li>
                <li><a href="http://airseasummit.com">airseasummit.com</a> - lifestyle design and travel blog</li>
            </ul>

            <h1 class="give-space">Knowledge & skills</h1>
            <p>Random, unstructured, interesting, often throughout resources on comp-sci, physics, math, philosophy, etc.</p>
            <ul>
                <li><a href="http://matt.might.net/articles/what-cs-majors-should-know/">What every computer science major should know</a></li>
                <li><a href="https://www.khanacademy.org/computing/computer-science">Khan Academy - Computer Science</a></li>
                <li><a href="http://pages.cs.wisc.edu/~remzi/OSTEP/">Operating Systems: Three Easy Pieces</a></li>
                <li><a href="http://www.feynmanlectures.caltech.edu/">The Feynman Lectures on Physics</a></li>
                <li><a href="http://beej.us/guide/bgnet/">Beej's Guide to Network Programming</a></li>
                <li><a href="http://www.rexegg.com/">REX EGG - The World's most tyrannosaurical regex tutorial</a></li>
                <li><a href="http://www.allaboutcircuits.com/textbook/">Lessons in Electric Circuits</a></li>
                <li><a href="http://www.jsoftware.com/papers/tot.htm">Notation as a Tool of Thought</a></li>
                <li><a href="http://mathinsight.org/thread/multivar">Multivariable calculus</a></li>

            </ul>
            <h1 class="give-space">Recent Reading list</h1>
            <ul>
                <li>
                  <a href="https://www.goodreads.com/book/show/9541.The_Shadow_of_the_Sun">The Shadow of the Sun - Ryszard Kapuściński</a>
                </li>
                <li>
                  <a href="https://www.goodreads.com/book/show/18222843-stuff-matters">Stuff Matters: Exploring the Marvelous Materials That Shape Our Man-Made World - Mark Miodownik</a>
                </li>
                <li>
                  <a href="https://www.goodreads.com/book/show/7640261-sex-at-dawn">Sex at Dawn: The Prehistoric Origins of Modern Sexuality - Christopher Ryan, Cacilda Jethá</a>
                </li>
                <li>
                  <a href="http://www.futurecrimesbook.com/">Future Crimes - Mark Goodman</a>
                </li>
                <li>
                  <a href="http://www.virgin.com/richard-branson/books/the-virgin-way">The Virgin Way - Richard Branson</a>
                </li>
                <li>
                  <a href="http://www.amazon.com/Elon-Musk-SpaceX-Fantastic-Future/dp/0062301233">Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future - Ashlee Vance</a>
                </li>
                <li>
                  <a href="http://www.amazon.com/The-Hard-Thing-About-Things/dp/0062273205">The
                    Hard Thing About Hard Things: Building a Business When There
                    Are No Easy Answers</a> - Ben Horowitz
                </li>
                <li>
                  <a href="http://www.howgoogleworks.net/">How Google Works - Eric Schmidt and Jonathan Rosenberg</a>
                </li>
                <li>
                  <a href="http://zerotoonebook.com/">Zero to One - Peter Thiel</a>
                </li>
                <li>
                  <a href="http://heathbrothers.com/books/made-to-stick/">Made to Stick - Chip &amp; Dan Heath</a>
                </li>
                <li>
                  <a href="http://eloquentruby.com/">Eloquent Ruby - Russ Olsen</a>
                </li>
                <li>
                  <a href="http://www.goodreads.com/book/show/254799.The_Creative_Habit">The Creative Habit - Thwyla Tharp</a>
                </li>
                <li>
                  <a href="http://sethgodin.hubpages.com/hub/theDipBook">The Dip - Seth Godin</a>
                </li>
                <li>
                  <a href="https://pragprog.com/book/rails4/agile-web-development-with-rails-4">Agile Web Development with Rails 4 (Facets of Ruby) - Sam Ruby &amp; Dave Thomas</a>
                </li>
                <li>
                  <a href="http://classics.mit.edu/Antoninus/meditations.html">Meditations - Marcus Aurelius</a>
                </li>
                <li>
                  <a href="http://www.goodreads.com/book/show/2477223.Managing_Oneself">Managing Oneself - Peter Drucker</a>
                </li>
                <li>
                  <a href="http://www.goodreads.com/book/show/14546626-total-recall">Total Recall - Arnold Schwarzenegger</a>
                </li>
                <li>
                <a href="http://www.bookdepository.com/Tribes-Seth-Godin/9781591842330/?a_aid=sethgodin">Tribes - Seth Godin</a>
                </li>
                <li>
                  <a href="http://www.goodreads.com/book/show/22590.Ubik">Ubik - Phillip K. Dick</a>
                </li>
            </ul>
        </p>
    </div>
</section>

<footer style="padding: 100px;" class="text-center">
    <hr/>
    &copy; 2015
</footer>
