<hr/>
<div class="row footer">
    <div class="col-md-8 col-md-offset-2">
        <article class="projects text-center">
            <a href="/">home</a><br/>
            <a href="http://sailsoftware.co/">let's work together</a><br/>
            <a href="https://www.linkedin.com/in/alexpszczolkowski">linkedin.com/alexpszczolkowski</a><br/>
            <a href="http://airseasummit.com">airseasummit.com - travel blog</a><br/>
            <a href="https://twitter.com/">@apsz</a><br/>
        </article>
    </div>
</div>
