<div id="sidebar" class="span3">
  <a href="/"><img src="/img/logo.png" alt="alex pszczolkowski" /></a>
  <h3>Alex Pszczolkowski</h3>
  <p class="info">
    Freelancing generalist and software engineer, 
    writer, adventurer. Currently travelling 
    around South East Asia.  
  </p>

  <br />

  <p class="sub">
    I post on twitter under <a href="http://twitter.com/apsz">@apsz</a>. 
    <br />
    You can also email me 
    at <a href="mailto:alex.pszczolkowski@gmail.com">alex.pszczolkowski@gmail.com</a>
  </p>

  <div class="bottom">
    <img src="/img/bg.png" />
  </div>
</div>
