---
  layout: default
---

<div class="meta col-md-8 col-md-offset-2 text-center">
    <p class="headnote">You're reading a random <a href="/about.html">programmers</a> blog about software - <a href="/">go back to mainpage</a></p>
    <hr />
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <article class="projects text-center">
            <img src="/img/bin.png" class="img-responsive" style="margin: 0px auto 20px auto;"/>
            {{content}}
        </article>
    </div>
</div>

{% include footer.html %}
